* {
    margin: 0;
    padding: 0;
}

@font-face {
font-family: 'TTLakes-Medium';
src: url('fonts/TTLakes-Medium.ttf');
} 

body {
  font-family: "TTLakes-Medium", "Arial", sans-serif;
  background-color: #f8f8f8;
}

h1 {
  font-size: 28px;
  white-space: nowrap;
}

.body {
  display: flex;
  min-height: 100vh;
}

.aside {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  min-height: 100vh;
  width: 320px;
}

.header,
.aside_header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;
  padding: 20px;
}

.aside .aside_header {
 width: 280px;
 border: none;
}

.header_title,
.aside_menuTop {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
}

.aside .aside_menuTop {
 width: 160px;
}

.header_button {
  display: flex;
  width: 310px;
  justify-content: space-between;
}

.buttonImage {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
}

button:hover {transform: scale(0.95);transition-duration: 0.5s;filter: Grayscale(0.3);}
button:active {transform: scale(1.10);transition-duration: 0.5s;}

.buttonLogo {
  background-color: #ffffff;
  border: none;
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0 0;
}

.services_title {
  display: flex;
  width: 257px;
  align-items: center;
  justify-content: space-between;
}

.services_buttons {
  display: none;
}

.section {
  flex-grow: 1;
  overflow-x: scroll;
}

.navigateMenu {
  white-space: nowrap;
  padding: 30px 0 0 20px;
}

.navigateMenu_list {
  display: flex;
  list-style: none;
  font-family: "TTLakes-Medium", "Arial", sans-serif;
  overflow-x: scroll;
}

.navigateMenu_item {
  color: #7E7E82;
  font-size: 16px;
  padding: 8px 18px 8px 18px;
}

.navigateMenu_item.active { 
  border: 2px solid #B8FFEC;
  padding: 6px 15px 6px 15px;
  border-radius: 6px;
  background-color: #ffffff;
}

.aside_navigateMenu {
  padding: 30px 0 0 0;
}

.aside_body {
  background-color: #ffffff;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside_navigateMenu_active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 143px;
  color: #7E7E82;
  padding: 0 0 32px 0;
}

.aside_navigateMenu_item {
  padding: 0 0 40px 20px;
    display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #7E7E82;
  padding: 0 0 32px 20px;
}


.aside_fotter {
  bottom: 20px;
}

.aside_button {
  display: flex;
  width: 160px;
  justify-content: space-between;
  padding: 0 0 10px 20px;
}

.aside_contact {
  padding: 0 0 30px 20px;
  list-style: none;
  line-height: 35px;
}

.aside_number {
  font-size: 24px;
}

.aside_language {
display: flex;
  width: 100px;
  justify-content: space-between;
  list-style: none;
  padding: 0 0 0 20px;
}

.aside_language_item.active {
  color: #7E7E82;
}

.about {
  display: flex;

  padding: 30px 20px 30px 20px;     
  font-size: 14px;
  color: #1B1C21;
  justify-content: space-between;
}

.about_infoBlock_display p:nth-child(3n) {
  display: none;
}

.about_infoBlock {
  width: 42vw;
}

.about_infoBlock_display {
  letter-spacing: 0.2px;
}

.about_infoBlock_display p:nth-child(2n) {
  padding: 20px 0 0 0;
}

.about_infoBlock_hidden {
  display: flex;
  align-items: center;
  padding: 15px 0 0 10px;
  width: 132px;
  justify-content: space-between;
}

.about_infoBlock_hidden .buttonRead {
  background-color: #f8f8f8;
  border: none;
  font-size: 16px;
  font-family: "TTLakes-Medium", "Arial", sans-serif;
  color: #1B1C21;
}

.about_pictureBlock .picture{
  width: 35vw;
  border-radius: 10px;
}



.titleRepair {
  height: 56px;
  display: flex; 
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e82;
  text-transform: uppercase;

  padding: 0 20px 0 20px;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
}

.brands_button {
 display: flex;
 flex-wrap: wrap;
 row-gap: 20px;
 column-gap: 28px;
 padding: 20px 0;
 width: 729px;
 margin-left: auto;
 margin-right: auto;
}



.buttonBrands:nth-child(-n+6) {display: inline;}

.buttonBrands.technic {display: none;}

.buttonBrands.technic:nth-child(-n+3) {display: inline;}

.buttonBrands {
  width: 224px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.buttonBrands.repair {
  width: 119px;
  height: 32px;
  border-radius: 16px;
  background-color: #ff3e79;
  color: #ffffff;
}

.buttonBrands.technic {
  height: 160px;
}

.technicTitle {
  padding-bottom: 110px;
  font-size: 16px;
}

.technicTitle.repair {
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 0;
  font-family: 'TTLakes-Medium';
  font-weight: 700;
}

.icon {
  display: flex;
  width: 185px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.icon.repair {
  width: 88px;
}

.iconBorder{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ff3e79;
  align-items: center;
}

.dropdown {
  position: relative;
  padding-top: 14px;
}

.dropdown_repair {
  position: relative;
}

.commercial .dropdown {
  padding-top: 3px;
}

.brands .about_infoBlock_hidden {
  width: 736px;
  padding: 15px 0 30px 27px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
}

.brands .buttonRead {
  padding-left: 5px;
}


.modal,
.show {
  display: none;
}

.brands_button_mobile {display: none;}

.slider-container {display: none;}

.repair_table {
  margin: 0 auto;
  width: 729px;
  padding: 20px 0 20px 0;
}

.landTitle {
  display: grid;
  grid-template-columns: 372px 98px 80px;
  font-size: 14px;
  padding: 0 0 15px 15px;
  color: #7e7e82;

}

.land {
  display: grid;
  height: 324px;
  font-size: 14px;
  background-color: #ffffff;
  color: #1b1c21;
  column-gap: 7px;  
  padding: 10px 0 10px 15px;
  border-radius: 6px;
}
 
.repair {
  align-self: center;
}

.repair.title {
  background-color: #f8f8f8;
}

.gridItemBorder {
   border-bottom: 1px solid #eaeaea ; 
  grid-column: span 4;  
  height: 9px;
}

.buttonRepair {
  width: 119px;
  height: 32px;
  border-radius: 16px;
  background-color: #ff3e79;
  color:#ffffff;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
}

.dropdown_repair {
  position: relative;
}

.description {
  width: 421px;
  padding: 0 0 0 20px;
  font-size: 14px;
}

.commercial {
  display: flex;
  width: 327px;
  padding: 20px 0 50px 20px;
  align-items: center;
  justify-content: space-between;
}

.commercial a {
  width: 300px;
  font-size: 16px;
  text-decoration: none;
  color: #1B1C21;
}

.commercial img {
  width: 24px;
}

.footer {
  width: 100%;
  border-top: 1px solid #B8FFEC;
}

.footerInfo {
  display: flex;
  justify-content: space-between;
  height: 81px;
  padding: 40px 20px 0 20px;
  margin: 0 auto;
  font-size: 14px;
  color: #7E7E82;
}

.development {
  width: 218px;
}

.politics {
  width: 214px;
}

.information {
  width: 213px;
  text-align: right;
}

@media screen and (max-width: 768px) {

.services .tablet,
.header_button .divider,
.header_button .tablet {display: none;}

.header {padding: 20px 15px 20px 15px ;}

.header_title {width: 170px;}

.header_button {width: 102px;}

.divider {order: 1}

.about_infoBlock_display p:nth-child(2n),
.about_infoBlock_display p:nth-child(3n) {display: none;}

.services {padding: 30px 0 0 0; width: 257px;}

.navigateMenu {padding: 30px 0 0 15px;}

.about {
  display: flex; 
  flex-direction: column;
  padding: 20px 0 0 0;
}

.about_infoBlock {
  width: 89vw;
  padding: 20px 15px 0 15px;
}

.about_pictureBlock .picture {
  width: 100vw; 
  border-radius: 0;
  padding: 20px 0 0 0;
}

.aside {display: none;}

.brands_button,
.about_infoBlock_hidden
 {display: none;}

.slider-container {display: inline;}

.swiper-wrapper {
  display: flex;
  padding: 20px 0 0 20px;
  height: 115px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dddddd;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

.fade {
  position: absolute;
  z-index: 2;
  right: 0;
  padding-top: 8px;
}

}

 .aside {display: none;}


@media screen and (min-width: 1366px) {

.header {display: none;}

.aside {display: inline;}
.section {margin-left: 320px; flex-grow: 1;
  overflow-x: hidden}

.about {padding: 30px 32px 30px 32px;}

.services {padding: 30px 32px 0 0;}

.services_title {width: 268px;}

.services_buttons {display: flex;}

.services_buttons .buttonImage {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: flex-end;
  background-color: #f8f8f8;
  font-family: "TTLakes-Medium", "Arial", sans-serif;
}

.navigateMenu {
  padding: 10px 0 0 30px;
  max-width: 1145px;
}

.navigateMenu_list {
  max-width: 1140px; 
  overflow-x: hidden; 
  flex-wrap: wrap;
}

.services_buttons p {padding-right: 10px;}

.about_infoBlock_display p:nth-child(2n) {display: none;}

.about_infoBlock_display p:nth-child(3n) {display: inline;}

.titleRepair {padding: 0 32px 0 32px;}

.buttonBrands:nth-child(-n+8) {display: inline;}
.buttonBrands.technic:nth-child(-n+4) {display: inline;}

.buttonBrands.technic {display: none;}

.buttonBrands.technic:nth-child(-n+4) {display: inline;}

.brands_button {width: 1017px; column-gap: 19px;}

.buttonBrands {width: 240px;}

.icon {width: 200px;}

.brands .about_infoBlock_hidden {width: 1065px;}

.brands_button_mobile {display: none;}

.slider-container {display: none;}

.repair_table {
  width: 1010px;
}
.landTitle {grid-template-columns: 449px 227px 80px;}

.land {grid-template-columns: 441px 221px 182px 129px;}

.description {padding-top: 20px;}

.footerInfo {padding: 40px 20px 0 20px;}
}